

body {
    background:url(https://i.loli.net/2019/08/13/SfIQpjAPlTytq96.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}


// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}


// 修改菜单栏透明度
.header-inner {
		  
  opacity: 0.8;
}


//顶栏图片
.site-nav {
    
		  opacity: 0.8;
		  p,span,a {color: #00CCFF;}
}

.sidebar-nav-toc sidebar-nav-active{
		 p,span,a {color: #5CBB44;}
}

//底栏背景色
.footer {
		p,span,a {color: #00CCFF;}
		opacity: 0.8;
}
//侧栏图片及内部文字颜色修改
#sidebar {
            background:url(https://i.loli.net/2019/08/13/5n49bWIwku1XctT.png);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #FF6600;}
			opacity: 0.8;
}



  
// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   background:rgba(255,255,255,0.9) none repeat scroll !important;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

  //文章下面的标签样式
.posts-expand .post-tags a{
	box-shadow:0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	transition:.2s ease-out;
	padding: 3px 5px;
	margin: 5px;
	background: #eee;
	border-bottom: none;
	border-radius: 10px;
	&:hover {
    color: $blue;
    //text-decoration: underline;
  }
}

.content {
	border-radius: 20px; //文章背景设置圆角
	padding: 30px 60px 30px 60px;
	background:rgba(255, 255, 255, 0.8) none repeat scroll !important;
}

//文章摘要配图
//图片外部的容器方框，限制图片大小
.out-img-topic {
  display: block;
  max-height:500px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}




    
